.list_points {
  display: flex;
  flex-direction: column;
}
.container_navigate{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 30px;flex-wrap: wrap;
  justify-content: center;
  min-height:176px ;
}
.history_points-point {
  margin-top: 2px;
  background: #ffff008c;
  padding: 5px;
  border-radius: 5px;
}
.history_points {
  display: block;
  padding: 30px;
}
.btn_navigate {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  max-width: 200px;
  max-height: 50px;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn_navigate:not(:disabled):hover,
.btn_navigate:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.btn_navigate:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.btn_clear {
  background-color: red;
}